.spot-preview-image {
    width: 270px;
    height: 250px;
    border-radius: 10px;
}

.spot-index-item-container {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
}

.spot-index-item-description-container {
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spot-index-item-price-container {
    width: 270px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fa-star {
    font-size: medium;
}

.fa-star-half {
    font-size: medium;
}
