.spot-preview-image {
    width: 270px;
    height: 250px;
}

.spot-index-item-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.spot-index-item-description-container {
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spot-index-item-price-container {
    width: 270px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fa-star {
    font-size: medium;
}

.fa-star-half {
    font-size: medium;
}
